a {
  text-decoration: none;
  color: inherit;
  transition: color .5s, opacity .5s, background .5s;
  &:focus {
    outline: none;
  }
}

button {
  transition: color .5s, opacity .5s, background .5s;
  cursor: pointer;
}

.back-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rect-outer {
  position: relative;
  .rect-inner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

img {
  max-width: 100%;
}

.content {

  img.size-thumbnail {
    max-width: 150px;
    width: auto;
    height: auto;
  }

  img.size-medium {
    max-width: 300px;
    width: auto;
    height: auto;
  }

  img.size-large {
    max-width: 1024px;
    height: auto;
    width: auto;
  }

  img.size-full {
    max-width: 100%;
    height: auto;
    width: auto;
  }

  img.aligncenter {
    margin: 0 auto;
    display: block;
    padding: 20px 0;
  }

  img.alignright {
    display: block;
    float: right;
    padding: 25px 0 20px 35px;

    @media (max-width: 768px) {
      padding: 20px 0 20px 20px;
    }
    @media (max-width: 550px) {
      float: none;
    }
    @media (max-height: 550px) {
      float: none;
    }
  }

  img.alignleft {
    display: block;
    float: left;
    padding: 25px 35px 20px 0;

    @media (max-width: 768px) {
      padding: 20px 20px 20px 0;
    }
    @media (max-width: 550px) {
      float: none;
    }
    @media (max-height: 550px) {
      float: none;
    }
  }
}